@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


body{
    font-family: 'Nanum Myeongjo', serif;
    background-color: #FCF9EE;
}
.bolder{
    font-weight: 900;
}
.wordbreak{
    word-break: keep-all;
}