@import url("commons.css");

.bg01{
    background-color: #FCF9EE;
}
.maintext{
    font-size: 4.8rem;
    margin-bottom: 10px;
    font-weight: 900;
}
.subtext{
    margin: 0 auto;
}
.img{
    top: 0%;
    left: 35%;
    opacity: 1;
    animation-name: show;
    animation-duration: 1.8s;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.bg02{
    margin: 0 auto;
    padding: 120px 0;
    background-color: #F9F8F5;
}
.product{
    padding: 3rem;
}
.product img{
    width: 100%;
}
.multiple-items button{
    background: none;
    border: none;
    z-index: 10;
    font-size: 0;
    color: transparent;
}
.slick-prev{
    position: absolute;
    top:40%;
    left: 0;
}
.slick-prev::after{
    font-size: 1.5rem;
    content: "\e93b";
    font-family: 'xeicon';
    color: black;
}
.slick-next{
    position: absolute;
    top:40%;
    right: 0%;
}
.slick-next::after{
    font-size: 1.5rem;
    content: "\e93e";
    font-family: 'xeicon';
    color: black;
}

.parallax{
    position: relative;
    overflow: hidden;
    height: 350px;
    align-items: center;
}
.parallax img{
    position: absolute;
    top:0%;
    right: 0%;
    /* width: 50%; */
    z-index: 99;
}
.mo-parallax{
    display: none;
}


@media (max-width:1445px) {
    .img{
        left: 32%;
    }
}
@media (max-width: 1025px) {
    .img {
        left: 22%;
    }
}
@media (max-width: 990px) {
    .width{
        text-align: center;
    }
    .parallax{
        width: 85%;
    }
}

@media (max-width: 770px) {
    .subtext {
        width: 65%;
        margin: 0 auto;
        text-align: left;
        word-break: keep-all;
    }
    .img {
        top: 2%;
        left: 7%;
    }
    .text{
        text-align: center !important;
    }
    .margin{
        margin-left: 0 !important;
    }
    .bg02{
        padding: 60px 0;
    }
    .text h1{
        margin-top: 30px;
    }
}
@media (max-width:545px) {
    .padding-commons{
        padding: 5% !important;
        margin: 5% !important;
    }
    .maintext{
        font-size: 4.5rem;
    }
    .subtext{
        width: auto;
    }
    .img {
        top: 9%;
        left: 0;
    }
    .img img{
        width: 100%;
    }
    .parallax{
        width: 95%;
        height: 300px;
    }
    .text .mt-5{
        margin: 2rem !important;
    }
    .product{
        padding: 1rem;
    }
}
@media (max-width: 415px){
    .inpd{
        padding: 2rem !important;
    }
    .maintext {
        font-size: 3.5rem;
    }
    .img {
        top: 10%;
        left: 0;
    }
    .parallax{
        display: none;
    }
    .mo-parallax{
        display: block;
    }
    .mo-parallax img{
        width: 100%;
    }
}
@media (max-width: 380px){
    .inpd{
        padding:2rem 1rem !important;
    }
    .maintext{
        font-size: 3.3rem;
    }
    .img {
        top: 6%;
        left: 0;
    }
    .bg01 .py-5{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}
@media (max-width: 325px){
    .maintext {
        font-size: 2.8rem;
    }
    .img {
        top: 10%;
    }
    #pear{
        width: 100%;
    }
}