@import url("commons.css");

.maintext{
    font-size: 4.8rem;
    margin-bottom: 10px;
    font-weight: 900;
}
.subtext{
    margin: 0 auto;
}
.img{
    top: 8%;
    left: 35%;
    opacity: 1;
    animation-name: show;
    animation-duration: 1.8s;
}
/* intro>firstdiv end */
.scents-bg{
    margin: 0 auto;
    padding: 120px 0;
    background-color: #F9F8F5;
}
.parallax{
    position: relative;
    overflow: hidden;
    height: 350px;
    align-items: center;
}
.parallax img{
    position: absolute;
    top:0%;
    right: 0%;
    /* width: 50%; */
    transform: scale(1);
    z-index: 99;
}
.mo-parallax{
    display: none;
}
/* intro>seconddiv end */
.product{
    padding: 3rem 2rem 0 2rem;
}
.product img{
    width: 100%;
}
.multiple-items button{
    background: none;
    border: none;
    z-index: 10;
    font-size: 0;
    color: transparent;
}
.slick-prev{
    position: absolute;
    top:40%;
    left: 0;
}
.slick-prev::after{
    font-size: 1.5rem;
    content: "\e93b";
    font-family: 'xeicon';
    color: black;
}
.slick-next{
    position: absolute;
    top:40%;
    right: 0%;
}
.slick-next::after{
    font-size: 1.5rem;
    content: "\e93e";
    font-family: 'xeicon';
    color: black;
}
.list .p-5{
    word-break: keep-all;
}
.list:hover img{
    transform: translateY(-20px);
    transition: .5s ease;
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cancel{
    margin-left: 30px;
}
.cancel::after{
    content: "";
    position: absolute;
    bottom:30%;
    left: 20%;
    background: #333;
    width: 100px;
    height: 1px;
}
.absolute{
    position: absolute;
    top:-50%;
    left: 0%;
}
/* intro>thirddiv end */
.gift img{
    width: 100%;
}
.limit-word{
    position: absolute;
    top:-5%;
    right:0%;
    background: #000;
    color: #fff;
    border-radius: 100%;
    width: 85px;
    height: 85px;
    box-shadow: 2px 2px 8px #333;
}
.limit-word h4{
    line-height: 85px;
}
.service-img01{
    background: url('../images/service01.jpg') no-repeat center;
    height: 335px;
}
.service-img02{
    background: url('../images/service01.jpg') no-repeat center;
    height: 335px;
    width: 100%;
}
/* .hover {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-20%,-50%);
}
.service-list:hover img{
    opacity: 1;
    filter: brightness(0.5);
    transition: .5s ease;
}
.service-list:hover .hover{
    color: #fff;
} */
@media (max-width:1445px) {
    .img{
        left: 32%;
    }
    .cancel::after{
        left: 23%;
    }
    .list .px-5{
        padding-right: 2rem !important;
    }
    .limit-word {
        top: -5%;
        width: 70px;
        height: 70px;
    }
    .limit-word h4{
        line-height: 70px;
        font-size: 1.3rem;
    }
}
@media (max-width: 1025px) {
    .img {
        left: 22%;
    }
    .cancel::after{
        left: 18%;
    }
    .list .px-5{
        padding-right: 3rem !important;
    }
}

@media (max-width: 990px) {
    .width{
        text-align: center;
    }
    .parallax{
        width: 85%;
    }
    /* intro>seconddiv end */
    .d-flex{
        flex-direction: column;
    }
}

@media (max-width: 770px) {
    .subtext {
        width: 65%;
        text-align: left;
        word-break: keep-all;
    }
    .img {
        top: 8%;
        left: 10%;
    }
    /* intro>firstdiv end */
    .text{
        text-align: center !important;
    }
    .margin{
        margin-left: 0 !important;
    }
    .scents-bg{
        padding: 60px 0;
    }
    .text h1{
        margin-top: 30px;
    }
    /* intro>seconddiv end */
    .list .px-5{
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
    .cancel{
        margin-left: 0px;
    }
    .cancel::after {
        bottom: 30%;
        width: 90px;
        left: 5%;
    }
    /* intro>thirddiv end */
    .gift{
        padding: 20px 0px 30px 0;
    }
    .gift img{
        width: 80%;
    }
    .limit-word {
        top: 3%;
        right: 8%;
    }
}
@media (max-width:545px) {
    .padding-commons{
        padding: 5% !important;
        margin: 5% !important;
    }
    .maintext{
        font-size: 4.5rem;
    }
    .subtext{
        width: 90%;
    }
    .img {
        left: 0;
    }
    .img img{
        width: 100%;
    }
    /* intro>firstdiv end */
    .parallax{
        width: 95%;
        height: 300px;
    }
    .text .mt-5{
        margin: 2rem !important;
    }
    /* intro>seconddiv end */
    .product{
        padding: 1rem;
    }
    .list .px-5{
        padding-left: 2rem !important;
        padding-right: 3rem !important;
    }
    .cancel::after {
        left: 8%;
    }
    /* intro>thirddiv end */
    .limit-word {
        right: 8%;
    }
}
@media (max-width: 415px){
    .inpd{
        padding: 2rem !important;
    }
    .maintext {
        font-size: 3.5rem;
    }
    .img {
        top: 12%;
    }
    /* intro>firstdiv end */
    .parallax{
        display: none;
    }
    .mo-parallax{
        display: block;
    }
    .mo-parallax img{
        width: 100%;
    }
    /* intro>seconddiv end */
    .gift img{
        width: 100%;
    }
    /* intro>thirddiv end */
    .special-gifts div .py-5{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .limit-word {
        right: -3%;
    }
}
@media (max-width: 380px){
    html,body{
        font-size: 14px;
    }
    .inpd{
        padding:2rem 1rem !important;
    }
    .maintext{
        font-size: 3.3rem;
    }
    .img {
        top: 10%;
    }
    .intro-bg .py-5{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    /* intro>firstdiv end */
    .cancel::after {
        width: 80px;
    }
    /* intro>thirddiv end */
    .limit-word {
        top: 5%;
        right: -3%;
        width: 55px;
        height: 55px;
    }
    .limit-word h4{
        line-height: 55px;
    }
}
@media (max-width: 325px){
    .maintext {
        font-size: 2.8rem;
    }
    .img {
        top: 12%;
    }
    /* intro>firstdiv end */
    #pear{
        width: 100%;
    }
    /* intro>seconddiv end */
}